

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Movies</title>
    
</head>
<body>
    <div class="container">
        <h1>Browse Movies</h1>
        <a href="{% url 'home' %}" class="button">Return to home page</a>
        <form method="get" action="{% url 'browse' %}">
            <input type="text" name="search" placeholder="Search by title..." value="{{ request.GET.search }}">
            <button type="submit">Search</button>
        </form>

        <ul>
            {% for movie in movies %}
                <li>
                    <strong>{{ movie.Title }}</strong><br>
                    {% if movie.image %}
                        <img src="{{ movie.image.url }}" alt="{{ movie.Title }}" style="max-width: 300px;">
                        <a href="{% url 'browse_id' movie.id  %}" class="button">View details</a>
                    {% endif %}
                </li>
            {% empty %}
                <li>No movies found.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
