{% block content %}
<h2>Buy Tickets for {{ showtime.movie.Title }}</h2>

<form method="post">
  {% csrf_token %}
  
  <label for="num_tickets">How many tickets do you want? (Max {{ available_seats|length }})</label><br>
  <input type="number" id="num_tickets" name="num_tickets" min="1" max="{{ available_seats|length }}" value="1" required><br><br>
  
  {% for seat in available_seats %}
    <input type="hidden" name="all_seats" value="{{ seat.id }}">
  {% endfor %}
  
  <button type="submit">Pay</button>
  <a href="{% url 'browse_id' showtime.movie.id %}">Back</a>
</form>
{% endblock %}
