<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booking System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap" rel="stylesheet">
</head>
<body>
   
    <nav class="w-full fixed px-5 lg:px-8 xl:px-[5%] py-4 flex items-center justify-between z-50">
        
        <img src="movies/profiles/profile_images/default.png" alt="Logo"
        class = "w-28 cursos-pointer mr-14">
        
        <ul class="hidden md:flex items-center gap-6 lg:gap-8 rounded-full px-12 py-3 bg-white shadow-sm bg-opacity-50 font-Ovo">
            <li class="cursor-pointer hover:-translate-y-1 duration-500"><a href="{% url 'browse'  %}">Current Catalog</a></li>
            <li class="cursor-pointer hover:-translate-y-1 duration-500"><a href="{% url 'future_catalog' %}">Future Catalog</a></li>
            
        </ul> 
   
        <a type='button' class='hidden lg:flex items-center gap-3 px-10 py-2.5 border border-gray-500 rounded-full ml-4 font-Ovo cursor-pointer hover:-translate-y-1 duration-500' href="{% url 'account_login' %}">Log in</a>             
        
        <button class="block md:hidden ml-3" onclick="openmenu()"> 
            <img src="movies/profiles/profile_images/default.png" alt="" class="w-6">
        </button>
        </div>

        
       
        
    </nav>

  
    <div id="home" class="w-11/12 max-w-3xl text-center mx-auto h-screen flex flex-col items-center justify-center gap-4">

        <h1 class="text-3xl sm:text-6xl lg:text-[66px] font-Ovo">Welcome!</h1>

    </div>

   
    

        
   

  
    <div class="mt-20">
            <div class="text-center">
                <img src="./image/logo.png" alt="" class="w-36 mx-auto mb-2">
                <div class="w-max flex items-center gap-2 mx-auto">
                    <img src="./image/email.png" alt="" class="w-10">
                    moviebookingsystem@gmail.com
                </div>
            </div>
    </div> 

    <script src="{% static 'script.js' %}"></script>   
    
</body>
</html>